* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
  }

.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;    
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee;
}

.modal-content {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 350px;
    background-color: #fff;
    border-radius: 2px;
    border: rgb(160, 159, 159) 1px solid;
    box-shadow: 0 0 15px grey;
}

.modal-header{
    padding: .7rem;
    background-color: rgba(150, 150, 150, 0.212);
}

.modal-body {
    padding: 10px;
    height: 80%;
    border-bottom: 1px solid #eee;
}

.labels {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.labels label {
    margin-top: 1.6rem;
}

.container {
    display: flex;
}


input {
    margin-top: 1.3rem;
    cursor: pointer;
}::placeholder {
    padding-left: .5rem;
}

select {
    cursor: pointer;
}

.inputs {
    width: 75%;
}

.textArea {
    width: 98%;
    height: 30px;
}

.format-radio  input  {
    margin-right: .2rem;
}

.format-radio  input:nth-child(n+2)  {
    margin-left: 1rem;
}

.schedule-radio input  {
    margin-right: .2rem;
}

.schedule-radio input:nth-child(n+2)  {
    margin-left: 1rem;
}

.specific-date label {
    margin: 0 1rem;
}

.specific-date input {
    height: 30px;
}

.daily input {
    height: 30px;
}

.weekly label {
    margin: 0 1rem;
}

.weekly input, select {
    height: 30px;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
    padding: .7rem;
}

.button-cancel {
    width: 60px;
    height: 30px;
    border: rgb(160, 159, 159) 1px solid;
    background-color: white;
    color: rgb(82, 82, 82);
    cursor: pointer;
}

.button-ok {
    width: 60px;
    height: 30px;
    border: rgb(160, 159, 159) 1px solid;
    background-color: rgb(68, 68, 68);
    margin-left: 1rem;
    cursor: pointer;
}

.button-ok span {
    color: #fff;
}
